name: Pump-Hunter-Classic

on:
  schedule:
    - cron: '*/1 * * * *' # 每分钟巡逻一次
  workflow_dispatch:      # 支持手动一键启动

jobs:
  hunt:
    runs-on: ubuntu-latest
    steps:
      - name: 1. 拉取代码
        uses: actions/checkout@v3

      - name: 2. 安装必要插件
        run: pip install requests

      - name: 3. 猎犬出动
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python hunter.py
